<app-navbar></app-navbar>
<mat-card>
    <form [formGroup]="form"(submit)="onSignUpForm()" >
        <mat-form-field>
            <input matInput="email" formControlName="email" type="email"  name="email" email placeholder="E-mail">
            <mat-error *ngIf="form.get('email').invalid">Please enter valid input</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput="text"formControlName="name" type="text" placeholder="user name">
            <mat-error *ngIf="form.get('name').invalid">Please enter valid input</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput="password" formControlName="password" type="password" placeholder="Password" >
             <mat-error *ngIf="form.get('password').invalid">Please enter a valid password</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Select department</mat-label>
            <mat-select formControlName="dept"  >
              <mat-option *ngFor="let dept of departmentList" [value]="dept.deptName">
                {{dept.deptName}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('dept').invalid">
              Select department
           </mat-error>
          </mat-form-field>

       <button mat-raised-button color='accent' type="submit">SignUp</button>
    </form>
</mat-card>


